<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demonstration of ChatGPT API in a Python Flask Application. A Skolo Online course.">

    <title>LittleTiger:大模型演示平台</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/duck.jpg') }}">
    <link href="{{ url_for('static', filename='style/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"  sourcemap="/web/static/style/bootstrap.min.css.map">
    <style>
      .dropdown-container {
        display: inline-block;
        align-items: center;
        margin-bottom: 10px;
      }
      .dropdown-container label {
        margin-right: 10px;
      }
      .dropdown-container select {
        margin-right: 10px;
      }
      .margin-pos {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <header>
      <style> #loading {margin: auto;} </style>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LittleTiger:大模型演示平台</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <br>
        <br>
        <h1 class="mt-5">LittleTiger:大模型演示平台</h1>
        <p class="lead">一个方便的大模型演示平台，可以选择多种模型以及不同的对话方式进行演示。</p>
        
        <div class="dropdown-container">
          <label for="model-select">模型选择：</label>
          <select id="model-select" onchange="updataSecondSelectOptions()">
            <option value="">请选择</option>
          </select>
          <button id="confirm-button" onclick="handleConfirm()">确认</button>
          <input type="text" id="current-model" disabled>
        </div>
        
        <div class="dropdown-container">
          <label for="conversation_method">对话方式：</label>
          <select id="conversation_method">
            <option value="流式对话">流式对话</option>
            <option value="非流式对话">非流式对话</option>
          </select>
        </div>

        <div class="dropdown-container">
          <label for="prompt">提示模版：</label>
          <select id="prompt" onchange="updataPrompt()">
            <option value="">请选择</option>
          </select>
        </div>
        <ul id="list-group" class="list-group w-auto"></ul>
        
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="chat-input" onkeydown="handleKeyDown(event)">
          <div class="input-group-append">
            <button id="gpt-button" class="btn btn-primary" onclick="handleClick()">Chat</button>
            <span id="loading" class="spinner-border spinner-border-sm d-none"></span>
          </div>
        </div>
      </div>
    </main>

    <script src="{{ url_for('static', filename='style/jquery-3.6.3.min.js') }}"  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='style/bootstrap.bundle.min.js') }}" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='style/marked.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
  </body>
</html>
